* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: aqua;
}


.light-blue{
    background-color: #abcfe7;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.grey-text {
    color: #979797;
}

.text {
    font-size: 0.8em;
    display: inline-block;
}

.opacity {
    background-color: #99989891;
}

.opacity {
    background-color: #99989860;
}

.center {
    background-position: center;
    background-size: cover;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* global */




/* margin top */

.mt-1 {
    margin-top: 0.5em;
}

.mt-2 {
    margin-top: 1em;
}

.mt-3 {
    margin-top: 1.5em;
}

.mt-4 {
    margin-top: 2em;
}

.mt-5 {
    margin-top: 2.5em;
}

.mt-6 {
    margin-top: 3em;
}

/* margin top */




/* margin left */

.ml-1 {
    margin-left: 0.5em;
}

.ml-2 {
    margin-left: 1em;
}

.ml-3 {
    margin-left: 1.5em;
}

.ml-4 {
    margin-left: 2em;
}

.ml-5 {
    margin-left: 2.5em;
}

.ml-6 {
    margin-left: 3em;
}

/* margin left */




/* margin right */

.mr-1 {
    margin-right: 0.5em;
}

.mr-2 {
    margin-right: 1em;
}

.mr-3 {
    margin-right: 1.5em;
}

.mr-4 {
    margin-right: 2em;
}

.mr-5 {
    margin-right: 2.5em;
}

.mr-6 {
    margin-right: 3em;
}

/* margin right */




/* margin bottom */

.mb-1 {
    margin-bottom: 0.5em;
}

.mb-2 {
    margin-bottom: 1em;
}

.mb-3 {
    margin-bottom: 1.5em;
}

.mb-4 {
    margin-bottom: 2em;
}

.mb-5 {
    margin-bottom: 2.5em;
}

.mb-6 {
    margin-bottom: 3em;
}

/* margin bottom */




/* padding top */

.pt-1 {
    padding-top: 0.5em;
}

.pt-2 {
    padding-top: 1em;
}

.pt-3 {
    padding-top: 1.5em;
}

.pt-4 {
    padding-top: 2em;
}

.pt-5 {
    padding-top: 2.5em;
}

.pt-6 {
    padding-top: 3em;
}

/* padding top */




/* padding left */

.pl-1 {
    padding-left: 0.5em;
}

.pl-2 {
    padding-left: 1em;
}

.pl-3 {
    padding-left: 1.5em;
}

.pl-4 {
    padding-left: 2em;
}

.pl-5 {
    padding-left: 2.5em;
}

.pl-6 {
    padding-left: 3em;
}

/* padding left */




/* padding right */

.pr-1 {
    padding-right: 0.5em;
}

.pr-2 {
    padding-right: 1em;
}

.pr-3 {
    padding-right: 1.5em;
}

.pr-4 {
    padding-right: 2em;
}

.pr-5 {
    padding-right: 2.5em;
}

.pr-6 {
    padding-right: 3em;
}

/* padding right */




/* padding bottom */

.pb-1 {
    padding-bottom: 0.5em;
}

.pb-2 {
    padding-bottom: 1em;
}

.pb-3 {
    padding-bottom: 1.5em;
}

.pb-4 {
    padding-bottom: 2em;
}

.pb-5 {
    padding-bottom: 2.5em;
}

.pb-6 {
    padding-bottom: 3em;
}

/* padding bottom */




/* float */

.fl {
    float: left;
}

.fr {
    float: right;
}

/* float */




/* position */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.right {
    right: 0px;
}

.left {
    left: 0px;
}

.bottom {
    bottom: 0px;
}

.top {
    top: 0px;
}

/* position */




/* widht */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

/* widht */




/* column */

.row {
    width: 100%;
    height: 25em;
}

.column {
    display: inline-block;
    height: 6em;
    width: 32%;
}

.column:nth-child(2) {
    width: 32%;
    margin-left: 2%;
}

.column:first-child {
    width: 32%;
}

.column:last-child {
    width: 32%;
}

img {
    width: 100%;
}

/* column */
